.header
	background-color: black
	height: 100vh
	color: white
	position: relative
	overflow: hidden
	&-bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url('../img/hero_bg.jpg') no-repeat center center / 50%
		filter: blur(3px)
		z-index: 1
	&-text
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		padding: 0 1.5rem
		width: 100%
		text-align: center
		color: white
		z-index: 3
		&-slider
			margin-top: 1.5rem
			position: relative
			font-size: 1.9rem
			@media(min-width: 1200px)
				font-size: 25px
				margin-top: 0
			span
				transition: all 450ms
				opacity: 0
				display: block
				position: absolute
				width: 100%
				&:first-of-type
					z-index: 4
				&:last-of-type
					z-index: 0
					&.show
						z-index: 5
				&.show
					opacity: 1
	&-title
		font-size: 40px
		font-family: $heading-face
		margin: 0
		color: rgba(white, 1)
		text-shadow: 0 0 50px white
		@media(min-width: 1200px)
			&
				font-size: 130px

	a
		color: white
	&-social
		margin-top: 10rem
		@media(min-width: 600px)
			margin-top: 8.5rem

		& li
			display: inline-block
			& a
				display: block
				padding: 6px 10px
				margin: 0 1rem
				font-size: 3.5rem
				text-decoration: none
				transition: all 450ms
				@media(min-width: 1200px)
					font-size: 6rem
					margin: 0 2rem

	.copyright
		position: absolute
		bottom: 0
		width: 100%
		text-align: center
		padding-bottom: 1rem