.header
	background-color: black
	height: 100vh
	color: white
	position: relative
	overflow: hidden
	&-bg
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: url('../img/hero_bg.jpg') no-repeat center center / 50%
		filter: blur(3px)
		z-index: 1
	&-text
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		text-align: center
		color: white
		z-index: 3
		line-height: 1.2

		&-slider
			font-size: 25px
			margin: 0
			position: relative
			span
				transition: all 450ms
				opacity: 0
				display: block
				position: absolute
				width: 100%
				&:first-of-type
					z-index: 4
				&:last-of-type
					z-index: 0
					&.show
						z-index: 5
				&.show
					opacity: 1



	&-title
		font-size: 130px
		margin: 0
		font-style: italic
		color: rgba(white, 1)
		text-shadow: 0 0 30px white
		font-family: 'Alegreya Sans'
	a
		color: white

	&-social
		margin-top: 8.5rem
		& li
			display: inline-block
			& a 
				display: block
				padding: 6px 10px
				margin: 0 1rem
				text-decoration: none
				transition: all 450ms

	&-nav
		text-align: right
		position: relative
		padding: 0 40px 0px 0
		transition: all 450ms
		&-wrap
			z-index: 1000000
			transition: all 450ms
			position: fixed
			top: 0
			right: 0
			bottom: 0
			display: flex
			align-items: center
		& li
			display: block
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
			& a
				display: block
				position: relative
				width: 10px
				height: 10px
				background-color: white
				border-radius: 50%
				text-decoration: none
				box-shadow: 0 1px 4px $main-color
				&.active
					background-color: $strongColor
				&:hover:before
					opacity: 1
				&:before
					content: attr(data-nav)
					position: absolute
					right: 25px
					top: -10px
					opacity: 0
					padding: 5px 15px
					background-color: $strongColor
					border-radius: 3px
					transition: all 450ms

			
					

	&-scroll
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding-bottom: 25px
		text-align: center
		z-index: 3
		&-btn
			width: 20px
			height: 40px
			border-radius: 10px
			border: 2px solid white
			background-color: transparent
			position: relative
			margin: auto
			&:before
				content: ''
				width: 0
				height: 0
				border: 2px solid white
				border-radius: 50%
				position: absolute
				top: 7px
				left: 6px
				animation: scrolling 2s infinite

@media (max-width: 970px)
	.header
		&-bg
			background-size: 100%
@media (max-width: 768px)
	.header
		&-nav-wrap
			display: none
@media (max-width: 480px)
	.header
		&-social
			margin-top: 7rem
		&-text
			padding: 0 15px
			&-slider
				font-size: 20px
		&-title
			font-size: 90px