/*Custom*/
.main
	position: relative
	z-index: 1
.section
	padding: 4rem 0
	&-sep
		margin: 30px auto 0
		width: 30%
		border-top: 1px solid $second-color
		position: relative
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 16px
			right: 16px
			border-top: 1px solid $placeholder-color


	&-title
		margin-bottom: .6rem
		padding-bottom: .6rem
		margin-bottom: 3rem
		padding-right: 5rem
		border-bottom: 1px solid $second-color
		position: relative
		display: inline-block
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			right: 15px
			border-bottom: 1px solid $second-color

.who, .skills, .exp
	background-color: $whoSection
.who
	.section-title
		margin-bottom: 60px
	&-img
		background: url('../img/zek.jpg') no-repeat center center / cover

.code
	&-img
		display: flex
		align-items: center
		justify-content: center
		background-color: white
			


.skills
	padding-top: 0
	text-align: center
	.section-title
		padding-left: 5rem
		&:before
			left: 15px
	&-container
		width: 50%
		margin: 0 auto
		img
			width: 50px
			margin: 10px 5px

.port
	color: white
	background-image: url('../img/sep.png'), url('../img/sep2.png')
	background-repeat: repeat-x, repeat-x
	background-position: top left, bottom, left
	padding: 6rem 0
	& .section-title
		color: white
		padding-left: 5rem
		& + p
			margin-bottom: 6rem
		&:before
			left: 15px


.history
	&-post
		margin: 3rem 0
		display: flex
		align-items: center
		float: left
		width: 50%
		padding: 0 1.5rem
		&:nth-last-of-type(1), &:nth-last-of-type(2)
			margin-bottom: 0
	&-month
		color: $strongColor
	&-txt
		font-size: 1.8rem
	&-date
		width: 11rem
		float: left
		position: relative
		&:before
			content: ''
			position: absolute
			left: 50%
			top: 0%
			bottom: 0%
			transform: translateX(-50%) rotate(76deg)
			border: 1px dashed rgba(black, .4)
		p
			margin-bottom: 0
			font-size: 3rem
			text-align: center
			&:last-child
				text-align: right

	h3
		font-size: 2rem

@media(max-width: 768px)
	.achv
		&-inner.gv-flex
			display: block
		&-item
			width: auto
			float: none
			margin-bottom: 3rem
			&-inner
				img
					height: auto
	.indicator-wrap2
		display: none

	.history
		&-post
			width: auto
			float: none
	.skills
		padding-bottom: 4rem

@media (max-width: 480px)
	.section
		&-title
			font-size: 4.4rem
			padding-right: 0
			display: block
			text-align: center
			&:before
				left: 15px
		
	.post
		display: block
		margin-bottom: 40px
		&-txt
			width: auto
			padding: 0
			text-align: center
	.who
		&-img
			margin: 0 auto 2.5rem
		&-txt
			width: auto
			padding-left: 0
		.section-title
			margin-bottom: 30px

	.circle
		margin: 0 auto 2.5rem

	.skills
		.section-title
			padding-left: 0
		&-container
			width: 100%

	.port
		.section-title
			padding-left: 0

.potter
	overflow: hidden
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	box-shadow: 0 0 0 9999px rgba(black, .5), 0 0 500px yellow
	width: 200px
	height: 200px
	z-index: 0
	transition: opacity 1s
	opacity: 0
	border-radius: 50%