/*Custom*/
//sections
@import ./sections/who
@import ./sections/skills
@import ./sections/port
@import ./sections/exp

.main
	position: relative
	z-index: 1
.section
	padding: 4rem 0
	&-sep
		margin: 60px auto 0
		width: 30%
		border-top: 1px solid $second-color
		position: relative
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 16px
			right: 16px
			border-top: 1px solid $placeholder-color

	&-title
		margin-bottom: .6rem
		padding-bottom: .6rem
		margin-bottom: 3rem
		padding-right: 5rem
		border-bottom: 1px solid $second-color
		position: relative
		display: inline-block
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			right: 15px
			border-bottom: 1px solid $second-color
			
.gv-al-cnt
	.section-title
		padding-left: 5rem
		&:before
			left: 15px


@media (max-width: 480px)
	.section
		&-title
			font-size: 4.4rem
			padding-right: 0
			display: block
			text-align: center
			&:before
				left: 15px

	.gv-al-cnt
		.section-title
			padding-left: 0

	