/*Custom*/
.section
	padding: 4rem 0
	&-title
		margin-bottom: .6rem
		padding-bottom: .6rem
		padding-right: 5rem
		border-bottom: 1px solid $second-color
		position: relative
		display: inline-block
		&:before
			content: ''
			position: absolute
			bottom: -5px
			left: 0
			right: 15px
			border-bottom: 1px solid $second-color

