/*Exceptions */
@media(max-width: 1366px);
/*HD */
@media(min-width: 1440px);
@media(min-width: 1600px);
@media(min-width: 1920px);
/*Small, Med Desktops ,tablets and all mobile Sizes including (phablets) */
/*Tablet (portrait) and all mobile Sizes including (phablets) */
/*Mobile Landscape to Portrait */
/*Mobile  Portrait */
/*Small, Med Desktops, tablets landscape To infinite */
/*Tablet portrait to infinite */
/*Mobile landscape  to infinite */
/*Mobile portrait  to infinite */
/*Limitaitons */
/*Med Desktop To HD */
/*Tablet (landscape) to Med Desktop */
/*Mobile Landscape To Tablet (portrait) */
/*Devices */
/*ipad - portrait */
/*ipad - landscape */
/* ----------- Apple Watch ----------- */
/* ----------- Moto 360 Watch ----------- */
/*Refernces:CSS-Tricks */
