/*@font-face */
/*General */
/*============ */
/* Form */
select,
textarea {
  padding: 0.2em 2.5em;
  border-radius: 4px;
}

label {
  font-weight: normal;
  margin-bottom: 1rem;
  display: inline-block;
}

textarea {
  resize: none;
  height: 10rem;
}

button {
  border: none;
  color: inherit;
  cursor: pointer;
}

.form-row {
  margin-bottom: 2.5rem;
}
.form-control {
  padding: 0.6em 2.5em;
  border: 0.1rem solid #ddd;
  background-color: white;
  border-radius: 0.5em;
  width: 100%;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.form-control:focus {
  border-color: #97783c;
}

::-webkit-input-placeholder {
  color: #aaa;
}

::-moz-placeholder {
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "open-sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1a1a1a;
  font-weight: 400;
  direction: ltr;
}

/*Give All anchors/button a transition */
a,
button,
input {
  -webkit-transition: background-color 450ms, color 450ms;
  transition: background-color 450ms, color 450ms;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 2.5rem;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table, table tr, table td {
  border: 0.1rem solid #ddd;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: inherit;
  line-height: inherit;
  color: green;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.fa {
  margin-left: 2.5rem;
  text-decoration: none;
  font-size: 1em;
  vertical-align: middle;
}

/*Slider */
.slider {
  position: relative;
  overflow: hidden;
  direction: ltr;
}
.slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.slider-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 50rem;
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.slider-slide:nth-child(2) {
  background-color: lightgreen;
}
.slider-slide:nth-child(3) {
  background-color: lightcoral;
}
.slider-slide:nth-child(4) {
  background-color: black;
}
.slider-control {
  position: absolute;
  left: 0;
  width: 8%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: white;
}
.slider-next {
  right: 0;
  left: auto;
}
.slider-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #97783c;
  display: inline-block;
  cursor: pointer;
  margin: 0 1rem;
}
.slider-indicator-wrap {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 1rem;
  left: 0;
  z-index: 10;
  text-align: center;
}
.slider-indicator.active {
  cursor: default;
  background-color: #1a1a1a;
}

/*Grid */
.gv-1 {
  width: 8.33333%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-2 {
  width: 16.66667%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-3 {
  width: 25%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-4 {
  width: 33.33333%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-5 {
  width: 41.66667%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-6 {
  width: 50%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-7 {
  width: 58.33333%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-8 {
  width: 66.66667%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-9 {
  width: 75%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-10 {
  width: 83.33333%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-11 {
  width: 91.66667%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.gv-12 {
  width: 100%;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0 -1.5rem;
}

.clf:before, .clf:after {
  content: " ";
  display: table;
}
.clf:after {
  clear: both;
}

.header-head:before, .header-head:after, .container:before, .container:after {
  content: " ";
  display: table;
}
.header-head:after, .container:after {
  clear: both;
}

.container {
  max-width: 960px;
  padding: 0 2.5em;
  margin: 0 auto;
}

/*Header */
.header-logo {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
}
.header-collapse {
  height: 0;
  -webkit-transition: all 450ms;
  transition: all 450ms;
  overflow: hidden;
}
@media(min-width: 768px) {
  .header-collapse {
    height: auto !important;
    overflow: visible;
    float: left;
  }
}
@media(min-width: 768px) {
  .header-head {
    float: left;
  }
}
.header-burger {
  padding: 1.5rem;
  background-color: #1a1a1a;
  width: 5.2rem;
  border-color: blue;
  border-radius: 4px;
  float: right;
  cursor: pointer;
}
@media(min-width: 768px) {
  .header-burger {
    display: none;
  }
}
.header-burger span {
  display: block;
  margin-bottom: 0.5rem;
  border: 1px solid;
  border-color: #4de445;
}
.header-burger span:last-child {
  margin-bottom: 0;
}
.header-burger:hover {
  background-color: #97783c;
  border-color: white;
}
.header-nav-wrap li {
  list-style-type: none;
}
@media(min-width: 768px) {
  .header-nav-wrap > li {
    float: left;
  }
}
.header-nav-wrap > li a {
  text-decoration: none;
  color: #4de445;
  display: block;
  padding: 1rem;
}
.header-nav-wrap .fa {
  font-size: 1.4rem;
  margin: 0;
  margin-left: 0.5rem;
}
.header-dropdown {
  position: relative;
}
.header-dropdown.active > .header-dropdown-menu {
  display: block;
}
.header-dropdown-hover:hover .header-dropdown-menu {
  display: block;
}
.header-dropdown-menu {
  display: none;
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .header-dropdown-menu {
    background-color: #1a1a1a;
    min-width: 160px;
    border-radius: 4px;
    box-shadow: 0 1px 5px #191919;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5rem 0;
    z-index: 10;
  }
  .header-dropdown-menu > li > a {
    background-color: #1a1a1a;
    color: #97783c;
  }
  .header-dropdown-menu > li > a:hover {
    background-color: #1a1a1a;
    color: #97783c;
  }
}
.header-breadcrumb > li {
  display: inline-block;
}
.header-breadcrumb > li + li:before {
  content: "/";
  margin-right: 1rem;
}
.header-breadcrumb > li > a {
  display: block;
}

/*Footer */
/*Custom */
/* @keyframes & transitions */
/*Regular give.css */
.gv-btn {
  background-color: #1a1a1a;
  border-radius: 0.4em;
  padding: 0.6em 2.5em;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  border: none;
  cursor: pointer;
}
.gv-btn:hover {
  background-color: #1a1a1a;
  color: #4de445;
}

.gv-btn-lg {
  padding: 1em 8em;
}
.gv-btn-sm {
  padding: 0.4em 1em;
}
.gv-btn-block {
  display: block;
  text-align: center;
}
.gv-input-inline {
  width: auto;
}
.gv-mn-fc {
  font-family: "open-sans", sans-serif;
}
.gv-hd-fc {
  font-family: "Open Sans", sans-serif;
}
.gv-h1 {
  font-size: 3.4rem;
}
.gv-h2 {
  font-size: 2.6rem;
}
.gv-h3 {
  font-size: 2rem;
}
.gv-h4 {
  font-size: 1.8rem;
}
.gv-h5 {
  font-size: 1.4rem;
}
.gv-h6 {
  font-size: 1.2rem;
}
.gv-def-sz {
  font-size: 1.6rem;
}
.gv-bold {
  font-weight: 700;
}
.gv-bolder {
  font-weight: bolder;
}
.gv-normal {
  font-weight: normal;
}
.gv-italic {
  font-style: italic;
}
.gv-underline {
  text-decoration: underline;
}
.gv-uppercase {
  text-transform: uppercase;
}
.gv-lowercase {
  text-transform: lowercase;
}
.gv-capitalize {
  text-transform: capitalize;
}
.gv-al-lt {
  text-align: left;
}
.gv-al-rt {
  text-align: right;
}
.gv-al-cnt {
  text-align: center;
}
.gv-mg {
  margin: 2.5em;
}
.gv-mg-lg {
  margin: 5em;
}
.gv-mg-md {
  margin: 3em;
}
.gv-mg-sm {
  margin: 1em;
}
.gv-mg-auto {
  margin-left: auto;
  margin-right: auto;
}
.gv-mg-auto-rt {
  margin-right: auto;
}
.gv-mg-auto-lt {
  margin-left: auto;
}
.gv-mg-auto-tb {
  margin-top: auto;
  margin-bottom: auto;
}
.gv-mg-auto-rl {
  margin-right: auto;
  margin-left: auto;
}
.gv-mg-tb {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.gv-mg-tb-lg {
  margin-top: 5em;
  margin-bottom: 5em;
}
.gv-mg-tb-md {
  margin-top: 3em;
  margin-bottom: 3em;
}
.gv-mg-tb-sm {
  margin-top: 1em;
  margin-top: 1em;
}
.gv-mg-rl {
  margin-right: 2.5em;
  margin-left: 2.5em;
}
.gv-mg-rl-lg {
  margin-right: 5em;
  margin-left: 5em;
}
.gv-mg-rl-md {
  margin-right: 3em;
  margin-left: 3em;
}
.gv-mg-rl-sm {
  margin-right: 1em;
  margin-left: 1em;
}
.gv-mg-tp {
  margin-top: 2.5em;
}
.gv-mg-tp-lg {
  margin-top: 5em;
}
.gv-mg-tp-md {
  margin-top: 3em;
}
.gv-mg-tp-sm {
  margin-top: 1em;
}
.gv-mg-rt {
  margin-right: 2.5em;
}
.gv-mg-rt-lg {
  margin-right: 5em;
}
.gv-mg-rt-md {
  margin-right: 3em;
}
.gv-mg-rt-sm {
  margin-right: 1em;
}
.gv-mg-bt {
  margin-bottom: 2.5em;
}
.gv-mg-bt-lg {
  margin-bottom: 5em;
}
.gv-mg-bt-md {
  margin-bottom: 3em;
}
.gv-mg-bt-sm {
  margin-bottom: 1em;
}
.gv-mg-lt {
  margin-left: 2.5em;
}
.gv-mg-lt-lg {
  margin-left: 5em;
}
.gv-mg-lt-md {
  margin-left: 3em;
}
.gv-mg-lt-sm {
  margin-left: 1em;
}
.gv-pd {
  padding: 2.5em;
}
.gv-pd-lg {
  padding: 5em;
}
.gv-pd-md {
  padding: 3em;
}
.gv-pd-sm {
  padding: 1em;
}
.gv-pd-tb {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.gv-pd-tb-lg {
  padding-top: 5em;
  padding-bottom: 5em;
}
.gv-pd-tb-md {
  padding-top: 3em;
  padding-bottom: 3em;
}
.gv-pd-tb-sm {
  padding-top: 1em;
  padding-bottom: 1em;
}
.gv-pd-rl {
  padding-right: 2.5em;
  padding-left: 2.5em;
}
.gv-pd-rl-lg {
  padding-right: 5em;
  padding-left: 5em;
}
.gv-pd-rl-md {
  padding-right: 3em;
  padding-left: 3em;
}
.gv-pd-rl-sm {
  padding-right: 1em;
  padding-left: 1em;
}
.gv-pd-tp {
  padding-top: 2.5em;
}
.gv-pd-tp-lg {
  padding-top: 5em;
}
.gv-pd-tp-md {
  padding-top: 3em;
}
.gv-pd-tp-sm {
  padding-top: 1em;
}
.gv-pd-rt {
  padding-right: 2.5em;
}
.gv-pd-rt-lg {
  padding-right: 5em;
}
.gv-pd-rt-md {
  padding-right: 3em;
}
.gv-pd-rt-sm {
  padding-right: 1em;
}
.gv-pd-bt {
  padding-bottom: 2.5em;
}
.gv-pd-bt-lg {
  padding-bottom: 5em;
}
.gv-pd-bt-md {
  padding-bottom: 3em;
}
.gv-pd-bt-sm {
  padding-bottom: 1em;
}
.gv-pd-lt {
  padding-left: 2.5em;
}
.gv-pd-lt-lg {
  padding-left: 5em;
}
.gv-pd-lt-md {
  padding-left: 3em;
}
.gv-pd-lt-sm {
  padding-left: 1em;
}
.gv-border {
  border: 0.2em solid #ddd;
}
.gv-border-lg {
  border: 0.4em solid #ddd;
}
.gv-border-md {
  border: 0.3em solid #ddd;
}
.gv-border-sm {
  border: 0.1em solid #ddd;
}
.gv-border-tp {
  border-top: 0.2em solid #ddd;
}
.gv-border-tp-lg {
  border-top: 0.4em solid #ddd;
}
.gv-border-tp-md {
  border-top: 0.3em solid #ddd;
}
.gv-border-tp-sm {
  border-top: 0.1em solid #ddd;
}
.gv-border-rt {
  border-right: 0.2em solid #ddd;
}
.gv-border-rt-lg {
  border-right: 0.4em solid #ddd;
}
.gv-border-rt-md {
  border-right: 0.3em solid #ddd;
}
.gv-border-rt-sm {
  border-right: 0.1em solid #ddd;
}
.gv-border-bt {
  border-bottom: 0.2em solid #ddd;
}
.gv-border-bt-lg {
  border-bottom: 0.4em solid #ddd;
}
.gv-border-bt-md {
  border-bottom: 0.3em solid #ddd;
}
.gv-border-bt-sm {
  border-bottom: 0.1em solid #ddd;
}
.gv-border-lt {
  border-bottom: 0.2em solid #ddd;
}
.gv-border-lt-lg {
  border-left: 0.4em solid #ddd;
}
.gv-border-lt-md {
  border-left: 0.3em solid #ddd;
}
.gv-border-lt-sm {
  border-left: 0.1em solid #ddd;
}
.gv-radius {
  border-radius: 0.5em;
}
.gv-radius-lg {
  border-radius: 2em;
}
.gv-radius-md {
  border-radius: 1em;
}
.gv-radius-sm {
  border-radius: 0.2em;
}
.gv-circle {
  border-radius: 50%;
}
.gv-flt-lt {
  float: left;
}
.gv-flt-rt {
  float: right;
}
.gv-clr {
  clear: both;
}
.gv-c-main {
  color: #1a1a1a;
}
.gv-c-second {
  color: #97783c;
}
.gv-c-third {
  color: #4de445;
}
.gv-bg-main {
  background-color: #1a1a1a;
}
.gv-bg-second {
  background-color: #97783c;
}
.gv-bg-third {
  background-color: #4de445;
}
.gv-block {
  display: block;
}
.gv-inline {
  display: inline;
}
.gv-inline-block {
  display: inline-block;
}
.gv-bullet {
  list-style: decimal;
}
.gv-list-block > * {
  display: list-item;
}
.gv-list-inline > * {
  display: inline-block;
}
.gv-rtl {
  direction: rtl;
}
.gv-ltr {
  direction: ltr;
}
.gv-no-padding {
  padding: 0;
}
.gv-no-padding-tp {
  padding-top: 0;
}
.gv-no-padding-rt {
  padding-right: 0;
}
.gv-no-padding-bt {
  padding-bottom: 0;
}
.gv-no-padding-lt {
  padding-left: 0;
}
.gv-no-padding-tb {
  padding-top: 0;
  padding-bottom: 0;
}
.gv-no-padding-rl {
  padding-right: 0;
  padding-left: 0;
}
.gv-no-bullet {
  list-style: none;
}
.gv-no-display {
  display: none;
}
.gv-no-mg {
  margin: 0;
}
.gv-no-mg-tp {
  margin-top: 0;
}
.gv-no-mg-rt {
  margin-right: 0;
}
.gv-no-mg-bt {
  margin-bottom: 0;
}
.gv-no-mg-lt {
  margin-left: 0;
}
.gv-no-mg-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.gv-no-mg-rl {
  margin-right: 0;
  margin-left: 0;
}
.gv-no-pd {
  margin: 0;
}
.gv-no-pd-tp {
  margin-top: 0;
}
.gv-no-pd-rt {
  margin-right: 0;
}
.gv-no-pd-bt {
  margin-bottom: 0;
}
.gv-no-pd-lt {
  margin-left: 0;
}
.gv-no-pd-tb {
  margin-top: 0;
  margin-bottom: 0;
}
.gv-no-pd-rl {
  margin-right: 0;
  margin-left: 0;
}
.gv-no-flt {
  float: none;
}
.gv-no-underline {
  text-decoration: none;
}
.gv-no-radius {
  border-radius: 0;
}
.gv-no-shad {
  box-shadow: none;
}
.gv-no-btn {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.gv-no-btn:hover {
  background-color: transparent;
  color: initial;
  top: 0;
}
.gv-transition {
  -webkit-transition: all 450ms;
  transition: all 450ms;
}
.gv-relative {
  position: relative;
}
.gv-absolute {
  position: absolute;
}
.gv-fixed {
  position: fixed;
}
.gv-pos-default {
  top: 0;
  left: 0;
}
.gv-ovflow-visible {
  overflow: visible;
}
.gv-ovflow-hidden {
  overflow: hidden;
}
.gv-ovflow-auto {
  overflow: auto;
}
.gv-ovflow-scroll {
  overflow: scroll;
}
.gv-shad-bx {
  box-shadow: 0px 2px 2px #ddd;
}
.gv-shad-txt {
  text-shadow: 0px 2px 2px #ddd;
}
.gv-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gv-flex-grow > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.gv-flex-auto > * {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.gv-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.gv-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.gv-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gv-flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.gv-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gv-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.gv-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gv-flex-center-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gv-flex-center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gv-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.gv-flex-start-h {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.gv-flex-start-v {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.gv-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gv-flex-end-h {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gv-flex-end-v {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.gv-flex-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.gv-flex-stretch-content {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.gv-flex-sp-between-h {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gv-flex-sp-between-v {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.gv-flex-sp-around-h {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.gv-flex-sp-around-v {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}
